@model EmberTinkerer.Controllers.UserModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Account</title>
</head>
<body>
    <div>
        <h1>Account</h1>
        <h2>create</h2>
        @using (Html.BeginForm("Register", "Account", FormMethod.Post))
        {
            <div>password: @Html.TextBoxFor(x => x.Password)</div>
            <div>username: @Html.TextBoxFor(x => x.Username)</div>
            <div>email: @Html.TextBoxFor(x => x.Email)</div>
            
            <input type="submit" value="submit" />
            if(Model.RegistrationFailed)
             {
                 <div>Error: @Model.ErrorMessage</div>
             }
        }
        <h2>login</h2>
        @using (Html.BeginForm("Login", "Account", FormMethod.Post))
        {
            @Html.TextBoxFor(x => x.Username)
            @Html.TextBoxFor(x => x.Password)
            <input type="submit" value="submit" />
        }
    </div>
</body>
</html>
