@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>
<html style="height:100%">
<head>
    <meta charset="utf-8">
    <title>Ember Tinkerer</title>
    <link rel="stylesheet" href="~/styles/normalize.css">
    <link rel="stylesheet" href="~/styles/style.css">
    <script>
        Tinkerer = window.Tinkerer || {};

        Tinkerer.getURL = '@Url.RouteUrl("DefaultApi", new {httproute = "", controller = "Project", action = "Get"})';
        Tinkerer.getAll = '@Url.RouteUrl("DefaultApi", new {httproute = "", controller = "Project", action = "GetAll"})';
        Tinkerer.searchURL = '@Url.RouteUrl("DefaultApi", new {httproute = "", controller = "Project", action = "SearchByName"})';
        Tinkerer.updateURL = '@Url.RouteUrl("DefaultApi", new {httproute = "", controller = "Project", action = "Update"})';
        Tinkerer.addURL = '@Url.RouteUrl("DefaultApi", new {httproute = "", controller = "Project", action = "Add"})';
    </script>
</head>
<body>
<script type="text/x-handlebars">
    <table class="table-wrapper">
		<tr class="table-wrapper-header">
			<th colspan="3">
				{{#linkTo 'index'}}Ember Tinkerer{{/linkTo}}
				|{{#linkTo 'about'}}About{{/linkTo}}
			</th>
		</tr>
		{{outlet}}
	</table>
</script>

    <script type="text/x-handlebars" data-template-name="index">
	<tr>
		<td class="index-wrapper" colspan=3 rowspan=2 >
			{{#linkTo 'new'}}Start a new EmberJS project{{/linkTo}}
            <ul>
                {{#each project in model}}
                    <li>{{#linkTo project.index project}}{{project.name}}{{/linkTo}}</li>
                {{/each}}
            </ul>
		</td>
	</tr>
</script>

<script type="text/x-handlebars" data-template-name="project">
    {{outlet}}
</script>

    <script type="text/x-handlebars" data-template-name="project/index">
	<tr>
		<td rowspan=2 class="controls" >
            {{#linkTo 'run'}}Run{{/linkTo}}<br />
            <hr />
            {{#if editMode}}
            Name: {{view Ember.TextField valueBinding="name"}}
            Description: {{view Ember.TextArea valueBinding="description"}}
            <button {{action 'save'}}>Save</button><br />
            {{else}}
            <b>{{name}}</b><br />
            description: {{description}}<br />
			<button {{action 'editDescription'}}>Edit Description</button><br />
            <button {{action 'save'}}>Save</button><br />
            {{/if}}
            
		</td>
		<td class="code-input-header">
			Javascript:
		</td>
		<td class="code-input-header" >
			Html Body:
		</td>
	</tr>
    <tr>
		<td class="code-input">
			{{view Ember.TextArea valueBinding="javascript" class="code-input"}}
		</td>
		<td class="code-input" style="background-color:grey;">
			{{view Ember.TextArea valueBinding="html" class="code-input"}}
		</td>
	</tr>
</script>

<script type="text/x-handlebars" data-template-name="run">
	<tr>
		<td rowspan=2 class="controls" >
			{{#linkTo 'project'}}Edit{{/linkTo}}
		</td>
		<td colspan=2 rowspan=2 >
			<iframe
			  id="run-frame" 
			  frameborder="0"
			  {{bindAttr srcDoc="html"}}
			  "></iframe>
		</td>
	</tr>
</script>

<script type="text/x-handlebars" data-template-name="about">
	<tr>
		<td colspan=3 rowspan=2 >
			About Ember Tinkerer
		</td>
	</tr>
</script>


<script type="text" id="generic-html-body">
<h1>Hello Wrold</h1>
</script>

<script type="text" id="generic-javascript">
c("hello world");
</script>
    
    <script src="~/scripts/include/jquery-1.9.1.js"></script>
	<script src="~/scripts/include/handlebars-1.0.0-rc.4.js"></script>
	<script src="~/scripts/include/ember-1.0.0-rc.6.1.js"></script>
	<script src="~/scripts/app.js"></script>
</body>
</html>