@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Ember Tinkerer</title>
    <link href="~/styles/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="~/styles/style.css">

    <script>
        Tinkerer = window.Tinkerer || {};

        Tinkerer.getURL = '@Url.RouteUrl("DefaultApi", new {httproute = "", controller = "Project", action = "Get"})';
        Tinkerer.getAll = '@Url.RouteUrl("DefaultApi", new {httproute = "", controller = "Project", action = "GetAll"})';
        Tinkerer.searchURL = '@Url.RouteUrl("DefaultApi", new {httproute = "", controller = "Project", action = "SearchByName"})';
        Tinkerer.updateURL = '@Url.RouteUrl("DefaultApi", new {httproute = "", controller = "Project", action = "Update"})';
        Tinkerer.addURL = '@Url.RouteUrl("DefaultApi", new {httproute = "", controller = "Project", action = "Add"})';
    </script>
</head>
<body>
    <script type="text/x-handlebars">
        <div class="navbar navbar-inverse navbar-fixed-top bs-docs-nav">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {{#linkTo 'index' classNames="navbar-brand"}}Ember Tinkerer{{/linkTo}}
            <div class="nav-collapse collapse bs-navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active">{{#linkTo 'index'}}Ember Tinkerer{{/linkTo}}</li>
                    <li>{{#linkTo 'about'}}About{{/linkTo}}</li>
                </ul>
            </div>
        </div>
        {{outlet}}
    </script>

    <script type="text/x-handlebars" data-template-name="index">
        <div style="height:50px;"></div>
        <div class="jumbotron masthead">
            <div class="container">
                <h1>Ember FireStarter</h1>
                <p>An easy way to get started with Emberjs by combining everything you need to get started on a web app all wrapped up in one easy to use site</p>
                <p>{{#linkTo 'new' classNames="btn btn-primary btn-large"}}Start a new EmberJS project{{/linkTo}}</p>
            </div>
        </div>
        <div class="container">
            {{#linkTo 'new'}}Start a new EmberJS project{{/linkTo}}
            <ul>
                {{#each project in model}}
                    <li>{{#linkTo project.index project}}{{project.name}}{{/linkTo}}</li>
                {{/each}}
            </ul>
        </div>    
    </script>

    <script type="text/x-handlebars" data-template-name="project">
        {{outlet}}
    </script>

    <script type="text/x-handlebars" data-template-name="project/index">
        <div class="main-container row">
            <div class="col-2">                
                {{#linkTo 'run' classNames="btn btn-default"}}Run{{/linkTo}}<br />
                {{#if editMode}}
                    Name: {{view Ember.TextField valueBinding="name"}}
                    Description: {{view Ember.TextArea valueBinding="description"}}
                    <button class="btn" {{action 'save' classNames="btn"}}>Save</button><br />
                {{else}}
                    <b>{{name}}</b>: {{description}}<br />
			        <button  class="btn" {{action 'editDescription'}}>Edit Description</button><br />
                    <button  class="btn" {{action 'save'}}>Save</button><br />
                {{/if}}
            </div>
            <div class="col-10">
                <div class="col-6">
                    {{view Ember.TextArea valueBinding="javascript" class="code-input"}}
                </div>
                <div class="col-6">
                    {{view Ember.TextArea valueBinding="html" class="code-input"}}
                </div>
            </div>
        </div>

    </script>

    <script type="text/x-handlebars" data-template-name="run">
        <div class="main-container row">
            <div class="col-2">
                {{#linkTo 'project' classNames="btn btn-default"}}Edit{{/linkTo}}
            </div>
            <div class="col-10">
                <iframe
                    id="run-frame" 
                    frameborder="0"
                    src=""
                    {{bindAttr srcDoc="generateFullHtml"}}></iframe>
            </div>
        </div>
    </script>

    <script type="text/x-handlebars" data-template-name="about">
	    <div class="main-container row">
		    About Ember Tinkerer
	    </div>
    </script>
    
    <script type="text" id="full-html-template">
<html>
    <head>
        <meta charset="utf-8">
        <title>Ember Tinkerer</title>
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.css" rel="stylesheet">
    </head>
    <body>
        {{{html}}}
        <!-- starting scripts -->
        {{{scriptFromSource "//code.jquery.com/jquery-1.10.2.js"}}}
        {{{scriptFromSource "//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/js/bootstrap.js"}}}
        {{{scriptFromSource "//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.0.0-rc.4/handlebars.js"}}}
        
        {{{scriptFromSource "//cdnjs.cloudflare.com/ajax/libs/ember.js/1.0.0-rc.6/ember.js"}}}
        {{{scriptBlock javascript}}}
    </body>
</html>
</script>

<script type="text" id="generic-html-body">
<h1>Hello World</h1>
</script>

<script type="text" id="generic-javascript">
alert("hello world");
</script>
    
    <script src="~/scripts/include/jquery-1.9.1.js"></script>
    <script src="~/Scripts/include/bootstrap.js"></script>
	<script src="~/scripts/include/handlebars-1.0.0-rc.4.js"></script>
	<script src="~/scripts/include/ember-1.0.0-rc.6.1.js"></script>
	<script src="~/scripts/app.js"></script>
</body>
</html>